# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # attempt to ignore shared-fvtt-bits, as per https://github.com/dependabot/dependabot-core/issues/4364
  # see https://github.com/n3dst4/gumshoe-fvtt/issues/904
  # attempt 2: move this block to the top and set schedule to same as the
  # second block
  - package-ecosystem: "npm"
    directory: "./packages/shared-fvtt-bits"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "*"

  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
