<form class="{{cssClass}} flexcol" autocomplete="off">
  <h1>
    +++ The future of this GUMSHOE System+++
  </h1>
  <p>
    Thank you SO MUCH for using this GUMSHOE system. As you are probably aware,
    there have been some problems getting this system oficially published
    on the Foundry VTT website, due to licencing concerns. The short version
    is this: it's nobody's fault, but this system as it stands can't go public.
  </p>
  <p>
    So this system has morphed again, into the <b>INVESTIGATOR System</b>,
    a flexible GUMSHOE SRD-Compatible system, which you can find here:
  </p>
  <p>
    Foundry hub: <a href="https://www.foundryvtt-hub.com/package/investigator/">INVESTIGATOR System on Foundry Hub</a>
  </p>
  <p>
    Code/project link: <a href="https://gitlab.com/n3dst4/gumshoe-fvtt">INVESTIGATOR System on GitLab</a>
  </p>
  <p>
    The INVESTIGATOR System is functionally identical to this one, but avoids
    IP issues and is fully GUMSHOE SRD compliant. This new system will be 
    receiving updates and new development, such as support for more
    GUMSHOE-based games, and and Quickshock rules.
  </p>
  <p>
    I recommend you install the new system and use it for any new Foundry worlds
    going forwards.
  </p>
  <p>
    If you're feeling brave and a bit technical, after you have installed 
    INVESTIGATOR, you can 
    <a href="https://gitlab.com/n3dst4/investigator-fvtt/-/blob/master/UPGRADING.md">
    upgrade this world to the new system.
    </a>
  </p>
  {{#if isGM}}
    <label class="gotcha-box">
      <input type="checkbox" class="gotcha">
      <span>
        Ok, got it, stop telling me every time I log in (find it in the
        INVESTIGATOR Settings window)
      </span>
    </label>
  {{/if}}
  <hr/>
  <button class="close">Close</button>
</form>