/* ------------------------------------ */
/*				   Less					*/
/* This is your Less entry file			*/
/* ------------------------------------ */
@font-face {
  font-family: "Longdon Decorative Regular";
  src: url(assets/fonts/LongdonDecorative.woff2) format('woff2');
}
.window-content.non-resizable {
  padding: 0;
  position: relative;
}
.window-content.resizable {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.window-content.resizable .react-target {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
a.entity-link,
a.content-link,
a.inline-roll {
  background: unset;
  border-style: dashed;
  border-width: 1px;
}
.react-target {
  flex: 1;
}
